.scenery {
	background-image: url("../images/backgrnd.jpg");
	width: 100%;
	height: 100%
}

.abt-pic-transform {
	width: 45%;
	height: 45%;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	/* -webkit-transform: rotate(270deg); */
	padding-top: 30%
}

.abt-pic {
	width: 100;
	height: 200;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	left: 50% /* padding-top: 30% */
}

h1 {
	font-family: Consolas, monaco, monospace;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	font-weight: 500;
	text-align: center;
}

h2 {
	font-family: Consolas, monaco, monospace;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	font-weight: 500;
	text-align: center;
	color: grey;
}

h3 {
	font-family: Consolas, monaco, monospace;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	font-weight: 500;
	color: grey;
}

h4 {
	font-family: Consolas, monaco, monospace;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	font-weight: 500;
}

h5 {
	font-family: Consolas, monaco, monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	font-weight: 500;
	text-align: center;
}

p {
	font-family: Consolas, monaco, monospace;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	color: grey;
}

.borderless tr, .borderless td, .borderless th {
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
}

.address-left {
	font-family: Consolas, monaco, monospace;
	font-style: normal;
	font-variant: normal;
	text-align: left;
	color: grey;
}

.address-right {
	font-family: Consolas, monaco, monospace;
	font-style: normal;
	font-variant: normal;
	text-align: right;
	color: grey;
}

.address-just {
	font-family: Consolas, monaco, monospace;
	font-style: normal;
	font-variant: normal;
	text-align: justify;
	color: grey;
}

.pf-footer {
	position: relative;
	margin-top: -150px;
	height: 150px;
	clear: both;
	padding-top: 20px;
}

.nav-center {
	display: inline-block;
	float: none;
	vertical-align: top;
	width: 50%;
}

small {
	font-size: 85%;
}

.ribbon {
	font-size: 16px !important;
	/* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
	width: 50%;
	position: relative;
	background: #ba89b6;
	color: #fff;
	text-align: center;
	padding: 1em 2em; /* Adjust to suit */
	margin: 2em auto 3em;
	/* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbon:before, .ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -1em;
	border: 1.5em solid #986794;
	z-index: -1;
}

.ribbon:before {
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
}

.ribbon:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #804f7c transparent transparent transparent;
	bottom: -1em;
}

.ribbon .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
}

.non-semantic-protector {
	position: relative;
	z-index: 1;
}